<!-- <%#= form_for(@article) do |f| %>
  <div class="form-group">
    <%#= f.label :title %>
    <%#= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%#= f.label :content %>
    <%#= f.text_field :content, class: 'form-control' %>
  </div>

  <%#= f.submit class: 'btn btn-primary' %>
<#% end %>
 -->

 <%= simple_form_for @article do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <!-- Add tags as a comma separated list -->
  <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
  <!-- Add tags as checkboxes -->
  <%= f.submit %>
<% end %>
