<h2><%= @cinema.name %></h2>
<p><%= @cinema.address %></p>

<% @reviews.each do |review| %>
<!--   <h2><%= review.rating %></h2> -->
 <% unless review.rating.nil? %>
      <% nb_stars = review.rating.round.to_i %>
      <% nb_stars.times do %>
        <span style="color: #2F2FA2"><i class="fas fa-star"></i></span>
      <% end %>
      <% (5 - nb_stars).times do %>
        <span style="color: #2F2FA2"><i class="far fa-star"></i></span>
      <% end %>
     <% end %>
  <p><%= review.content %></p>
  <p><%= review.user_name %></p>
<% end %>

<%= link_to "Delete", cinema_path(@cinema),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<h2><%= link_to 'Update', edit_cinema_path(@cinema) %></h2>

<h2><%= link_to 'Review', new_cinema_review_path(@cinema) %></h2>

<h2><%= link_to 'Go back', cinemas_path %></h2>
